* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(41, 34, 68);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
.thing {
display: flex;
justify-content: center;
align-items: center;
margin: 5px;
border: 10px solid transparent;
border-radius: 50%;
animation: thing 5s cubic-bezier(0.35, -0.14, 0.79, 1.22) infinite;
}

.ring-1 {
    border-color: rgb(162, 217, 247) transparent rgb(162, 217, 247) transparent;
}

.ring-2 {
border-color: rgb(132, 179, 225) transparent rgb(132, 179, 225) transparent;
}

.ring-3 {
    border-color: rgb(107, 142, 200) transparent rgb(107, 142, 200) transparent;
}

.ring-4 {
    border-color: rgb(85, 106, 175) transparent rgb(85, 106, 175) transparent;
}

.ring-5 {
    border-color: rgb(71, 74, 151) transparent rgb(71, 74, 151) transparent;
}

.ring-6 {
    border-color: rgb(57, 49, 133) transparent rgb(57, 49, 133) transparent;
}

@keyframes thing {
100% {
    transform: rotateZ(1turn);
}
}